/* INTERFACE BANCO */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #ECEFF3;
}
.cabeçalho {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.sairdaconta {
    background-color: #E4C0C0;
    color: #000000;
    border-radius: 18px;
    width: 199px;
    height: 30px;
}
.menu {
    background-color: #1C0929;
    width: 2000px;
    height: 128px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.valor, .rs {
    font-size: 18px;
    font-weight: 900;
    margin-top: 5px;
}
.total {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.olho {
   margin-left: 15px;
}
.menu-botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.pix, .pagar, .transferir, .poupança,.depositar, .celular, .sacar {
    background-color: #fff;
    width: 151px;
    height: 131px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(208, 208, 208, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    font-size: 12px;
    font-weight: 500;
}
.botaopix, .botaopagar, .botaotransferir, .botaodepositar, .botaopoupança, .botaocelular, .botaosacar {
    background-color: #E8E8F0;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TRANSAÇÕES-EXTRATO */

.extrato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.tpositiva {
    background-color: #fff;
    border-radius: 8px;
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 7px solid #00DD16;
}
.tnegativa {
    background-color: #fff;
    border-radius: 8px;
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 7px solid #DD0000;
}
/* MOOOODAL DEPOSITAR */
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-depositar {
    background-color: #fff;
    width: 324px;
    height: 235px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulomodal {
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    padding: 10px;
    text-align: center;
    
}
.inputmodal {
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
::placeholder {
    color: #DBDBDB;
    padding: 10px;
    text-align: center;
}
.botao-depositar {
    background-color: #D3EAC9;
    width: 95px;
    height: 37px;
    border-radius: 10px;
    color: #000000;
    text-align: center;
}
.botao-depositar:hover{
    cursor: pointer;
    background-color: rgb(206, 238, 170);
}
.botaocancelar {
    background-color: #E4C0C0;
    width: 95px;
    height: 37px;
    border-radius: 10px;
    color: #000000;
    text-align: center;
}
.botaocancelar:hover{
    cursor: pointer;
    background-color: rgb(232, 183, 187);
}
.botoesmodal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* MOOOODAL SAQUE */
.modalsaque {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none
    ;
    justify-content: center;
    align-items: center;
}
.modal-saque {
    background-color: #fff;
    width: 324px;
    height: 235px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulomodalsaque {
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    padding: 10px;
    text-align: center;
    
}
.inputsaque {
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
::placeholder {
    color: #DBDBDB;
    padding: 10px;
    text-align: center;
}
.botao-sacar {
    background-color: #D3EAC9;
    width: 95px;
    height: 37px;
    border-radius: 10px;
    color: #000000;
    text-align: center;
}
.botao-sacar:hover{
    cursor: pointer;
    background-color: rgb(206, 238, 170);
}
.botaocancelarsaque {
    background-color: #E4C0C0;
    width: 95px;
    height: 37px;
    border-radius: 10px;
    color: #000000;
    text-align: center;
}
.botaocancelarsaque:hover{
    cursor: pointer;
    background-color: rgb(232, 183, 187);
}
.botoesmodalsaque {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/*PARA JS*/
.separação {
    margin-inline: 3rem;
}