/* ROOT */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* GLOBAIS */

body {
    background: #F5F5F5;
}
/* LOGIN */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    max-width: 2000px;

    margin: 250px 0;
}
form h3 {
    color: #000000;
    
    font-size: 25px;
    font-weight: 700;
    line-height: 141%;

    text-transform: uppercase;
}
.content-form {
    display: flex;
    align-items: center;
    gap: 10px;
}
.content-form label {
    font-size: 14px;
    font-weight: 500;
    line-height: 141%;

    color: #000000;
}
.content-form input {
    background-color: #fff;

    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);

    width: 150px;
    height: 30px;
    
    outline: none;
}
button {
    background-color: #E4C0C0;

    width: 150px;
    height: 30px;

    border: none;
    border-radius: 20px;

    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 141%;

    cursor: pointer;
}
button:hover {
    font-weight: 600;
    filter: brightness(1.1);
}

/* INTERFACE Z-BANK */
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 32px;
}
header a {
    background-color: #E4C0C0;

    width: 150px;
    padding: 7px;

    border: none;
    border-radius: 20px;

    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 141%;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
}
header a:hover {
    font-weight: 600;
    filter: brightness(1.1);
}

/* MENU */

#menu-inicial {
    background-color: #1C0929;
    
    padding: 24px 48px;
}
#menu-inicial p {
    font-size: 14px;
    font-weight: 500;
    line-height: 141%;

    color: #fff;

    margin-bottom: 5px;
}
#menu-inicial p strong {
    font-size: 18px;
    font-weight: 700;
    line-height: 109%;
}
.saldo {
    display: flex;
    align-items: center;
    gap: 15px;

    margin-top: 3px;
}

/* MAIN */
/* OPÇÕES */
#opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    list-style-type: none;
    margin-top: 32px;

    cursor: pointer;

    margin-bottom: 100px;
}
#opcoes img {
    background-color: #E8E8F0;

    border-radius: 50%;

    padding: 20px;
}
#opcoes li {
    background-color: #FFFFFF;

    width: 151px;
    height: 131px;

    border-radius: 10px;
}
#opcoes li a {
    text-decoration: none;

    font-size: 12px;
    font-weight: 500;
    line-height: 164%;
    text-align: center;

    color: #7A7A80;

    opacity: 0.8;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
/* TRANSAÇÕES */
#transacoes {
    max-width: 800px;
    
    margin: 32px auto;
}
.content-transacao {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #FEFEFE;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
    border-radius: 12px;

    width: 800px;
    height: 79px;
    
    margin-block: 30px;
}

/* MODAL */
#modal {
    background-color: rgba(1, 1, 1, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.content-modal {
    background-color: #FFFFFF;
    
    border-radius: 20px;

    width: 324px;
    height: 235px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-modal h1 {
    color: #000000;

    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    margin-block: 43px;
}
.content-modal input {
    background-color: #F9F9F9;

    border: none;
    border-radius: 5px;

    width: 212px;
    height: 37px;
    
    outline: none;
    
    margin-bottom: 35px;
}
.content-modal input::placeholder {
    color: #DBDBDB;

    font-size: 14px;
    font-weight: 500;
    line-height: 141%;

    text-align: center;

    padding: 10px;
}
.buttons {
    margin-bottom: 30px;
}
.conf-button {
    background-color: #D3EAC9;
    
    width: 95px;
    height: 37px;

    border: none;
    border-radius: 10px;

    color: #000000;

    font-size: 14px;
    font-weight: 500;
    line-height: 141%;

    transition: 400ms;

    margin-inline: 5px;
}
.conf-button:hover {
    font-weight: 700;
    filter: brightness(1.1);
}
.cancel-button {
    background-color: #E4C0C0;
    
    width: 95px;
    height: 37px;

    border: none;
    border-radius: 10px;

    color: #000000;

    font-size: 14px;
    font-weight: 500;
    line-height: 141%;

    transition: 400ms;

    margin-inline: 5px;
}
.cancel-button:hover {
    font-weight: 700;
    filter: brightness(1.1);
}
#modal.hide {
    opacity: 0;
    visibility: hidden;   
}